<style>
  /* Responsive Styles */
  @media screen and (max-width: 767px) {}
  @media screen and (max-width: 575px) {}
</style>

<div class="wrap" role="main">
  <app-header></app-header>

  <app-albums></app-albums>

  <app-footer></app-footer>

  <div id="nd_wrap">
    <div class="container">
      <div class="card highlight-card card-small">
        <h2>{{ title }} app is running!</h2>
      </div>
    </div>
   
    <div class="container">
      <h3>Months: <i>(data binding)</i></h3> 
      <select> 
         <option *ngFor = "let i of months">{{i}}</option> 
      </select> 
   </div> 

  </div><!-- nd_wrap-->
</div>
<router-outlet></router-outlet>