<style>
  /* Responsive Styles */
  @media screen and (max-width: 767px) {}
  @media screen and (max-width: 575px) {}
</style>

<div class="wrap" role="main">
  <app-header></app-header>

  <nav> 
    <a routerLink = "/home">Home</a> 
    <a routerLink = "/aboutus">About Us </a> 
    <a routerLink = "/contactus">Contact Us </a> 
 </nav> 
 <router-outlet></router-outlet>

  <app-footer></app-footer>

  <span *ngIf="displayExtra; then display else hidden"></span>
  <ng-template #display>
    <div class="container">
      <div class="card highlight-card card-small">
        <h2>{{ title }} app is running!</h2>
      </div>
    </div>
   
    <div class="container">
      <h3>Months: <i>(data binding)</i></h3> 
      <select (change) = "changeMonths($event.target.value)">
         <option *ngFor = "let i of months">{{i}}</option> 
      </select> <br/>
      <span>Selected Month is: {{selectedMonth}}</span>
   </div>

   <div style = "text-align:center"> 
    <span>This Txt is change from new-directive</span><br/>
    <span appNewDirective>  <-> {{title}}.</span> 
 </div>

 <div class="container"> 
  <b>PIPELINES:</b>
    <b>Lowercase Pipe</b><br/>
    <span>{{title | uppercase}}</span> <br/>
    <span>{{title | lowercase}}</span><br/>
    <b>Currency Pipe</b> <br/>
    <span>{{6589.23 | currency:"USD"}}</span>
    <br/> 
    <span>{{6589.23 | currency:"USD":true}}</span> <br/>
    <b>Date pipe</b> <br/>
    <span>{{todaydate | date:'d/M/y'}}</span>

    <br/> 
    <span>{{todaydate | date:'shortTime'}}</span> <br/>
    <b>Decimal Pipe</b> <br/>
    <span>{{ 454.78787814 | number: '3.4-4' }}</span> 
</div> 

  </ng-template>
  <ng-template #hidden>Info is hidden</ng-template>

</div>